## Pra-Proses Data Hotspot Sensor MODIS

### 1. library declaration

In [1]:
# library manipulation dataset
import pandas as pd
from pandas import concat
from pandas import read_csv
from pandas import read_excel

In [2]:
# library manipulation array
import numpy as np
from numpy import array
from numpy import concatenate

In [3]:
# library computing time
import time
from datetime import datetime

In [4]:
# library data visualization
import seaborn as sns
from matplotlib import pyplot as plt

### 2. data acquisition

In [5]:
# set computing time
start = time.time()

In [9]:
# fix random seed for reproducibility
np.random.seed(1234)

In [10]:
# load dataset
dataset = pd.read_csv("dataset/fire_archive_M-C61_318309.csv", parse_dates=["acq_date"])

In [11]:
dataset

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-8.4825,121.2763,311.5,4.2,1.9,2001-01-31,311,Terra,MODIS,0,6.03,290.6,47.0,D,0
1,-2.5743,121.3820,311.3,1.0,1.0,2001-02-01,1434,Terra,MODIS,75,6.03,274.9,12.6,N,2
2,-2.5756,121.3730,315.5,1.0,1.0,2001-02-01,1434,Terra,MODIS,88,6.03,271.7,16.1,N,2
3,1.4389,100.0967,310.6,1.9,1.3,2001-02-03,340,Terra,MODIS,39,6.03,276.6,16.6,D,0
4,-0.1928,99.8484,316.4,1.9,1.3,2001-02-04,423,Terra,MODIS,35,6.03,296.0,18.1,D,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1413233,-3.3010,128.9608,316.6,1.2,1.1,2020-12-31,451,Aqua,MODIS,32,6.03,299.0,9.2,D,0
1413234,-2.5768,121.3746,347.1,1.2,1.1,2020-12-31,1416,Terra,MODIS,100,6.03,281.9,73.0,N,2
1413235,-2.5754,121.3848,313.9,1.2,1.1,2020-12-31,1416,Terra,MODIS,84,6.03,281.1,17.3,N,2
1413236,1.4973,127.6376,303.0,1.1,1.0,2020-12-31,1712,Aqua,MODIS,53,6.03,289.2,5.7,N,1
1413237,-1.4573,127.4369,316.1,1.1,1.1,2020-12-31,1713,Aqua,MODIS,90,6.03,292.1,15.4,N,2

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1413238 entries, 0 to 1413237
Data columns (total 15 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   latitude    1413238 non-null  float64
 1   longitude   1413238 non-null  float64
 2   brightness  1413238 non-null  float64
 3   scan        1413238 non-null  float64
 4   track       1413238 non-null  float64
 5   acq_date    1413238 non-null  datetime64[ns]
 6   acq_time    1413238 non-null  int64
 7   satellite   1413238 non-null  object
 8   instrument  1413238 non-null  object
 9   confidence  1413238 non-null  int64
 10  version     1413238 non-null  float64
 11  bright_t31  1413238 non-null  float64
 12  frp         1413238 non-null  float64
 13  daynight    1413238 non-null  object
 14  type        1413238 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(3), object(3)
memory usage: 161.7+ MB